.body {
    background-color: #C4D600;
  }
  
  .carousel-content {
    text-align: justify;
      color:rgb(3, 3, 3);
      display:flex;
      align-items:center;
  }
  
  #text-carousel{
    width: 100%;
    /*height: auto;*/
    height: 700px;
    padding: 50px;
  }

  .carousel-content h3{
    color: #DDB55B;
  }

  #altura{
    height: 700px;
  }

  ul.lista_letras{
    list-style-type: lower-latin;
  }

  .carousel-control.left {
    background-image: -webkit-linear-gradient(left,color-stop(rgba(0,0,0,.5) 0),color-stop(rgba(0,0,0,.0001) 100%));
    background-image: linear-gradient(to right,rgba(196, 214, 0, 0.5) 0,rgba(0,0,0,.0001) 100%)!important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}

.carousel-control.right {
  background-image: -webkit-linear-gradient(left,color-stop(rgba(0,0,0,.5) 0),color-stop(rgba(0,0,0,.0001) 100%));
  background-image: linear-gradient(to left,rgba(196, 214, 0, 0.5) 0,rgba(0,0,0,.0001) 100%)!important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}

 .left span{
display: none;

}