img{
width:50%; 
}

#imagen{
width:100%;
text-align: center;
}

#contador{
    width: 250px;
    position: absolute;
    float: right;
    right: 0%;
    top: 60%;
}

#segundos{
    margin-left: -05px;
    height: 15px;
}
  
#segundos2{
    margin-left: -20px;
}
    
#veces{
    
}

#veces2{
    margin-left: -60px;
}

#incrementa{
    float: right;
    margin-right: 198px;
    margin-top: -151px;
    padding: 15px;
}

.container .row{
    /*padding-bottom: 140px;*/
    padding-bottom: 115px;
    
}

.container p{
    font-size: 12px!important;
    margin: 0 0 7px!important;
}

p.modal-title{
    font-size: 50px!important;

}

 .uno .col-md-4{
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    background-color:#DEB887;
    border-left: 10px;
    text-align: center;
    font-size: 20px;
    font-weight:bold;
}
.uno .col-md-4.null{background-color:#ffffff;}
.uno .col-md-4.null.null{background-color:#ffffff;}
.uno .col-md-3.null{background-color:#ffffff;}
.uno .col-md-3.null.null{background-color:#ffffff;}
.uno .col-md-6{
    text-align: center;
    font-size: 20px;
    font-weight:bold;
}

.dos .col-md-4{
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    border: 0px solid #000000;
    background-color: chartreuse;
    margin-left: 133px;
    text-align: center;
    font-weight:bold;
    font-size: 20px;
    padding-top: 16px;
    padding-bottom: 14px;
}

.dos .col-md-6{
    margin-left: 45px;
    text-align: center;
    font-weight:bold;
    padding-top: 12px;
}

.modal-body{
    height: 150px;
    
}

.modal-body .row{

    padding-bottom: 10px;
    
}


.modal-content{
    padding:20px;
}

.modal-content h2{
    text-align: center;
    color: saddlebrown;
    font-weight:bold;
}

button{
   
}
.centrar{text-align:center;}